.btn{
    border:0;
    outline: none;
    padding:0;
    font-size: 2rem;
}
.bt--edit{
    color: rgb(23, 145, 23);
}

.bt--delete{
    color: rgb(214, 55, 55);
}



.bilgi--success{
    border: 1px solid green;
}

.bilgi--error{
    border:1px solid red;
}

.bilgi{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    color: black;
}

.fa-solid{
    pointer-events: none;
}